@font-face {
  font-family: Quicksand;
  src: url(../public/Quicksand-VariableFont_wght.ttf);
}

.App {
  background-color: #F2DFBB;
  

}
.navbar{
  color: #000;
font-family: Quicksand;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 333.333% */
}

@media screen and (max-width:520px) {

}
